* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#voice-record-btn {
  position: absolute;
  top: 50%;
  right: 10%;
  transition: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
  border-radius: 50%;
  background-color: rgb(197, 22, 22);
  border: 10px solid rgb(240, 77, 77);
}

#voice-record-btn:hover {
  transition: 0.5s;
  background-color: rgb(197, 22, 22);
  border: 10px solid rgb(240, 77, 77);
}

#voice-recorder-container {
  position: absolute;
  top: 55%;
  right: 35%;

  transition: translate(-50%, -50%);
}
